<script setup lang="ts">
import {useToast} from "bootstrap-vue-3"
const toast = useToast()
</script>
<template>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">New Game</h5>
      <div>
        <div class="mb-3">
          <label for="game" class="form-label">I want to play</label>
          <select id="game" v-model="selectedGameId" class="form-select form-select-lg mb-3"
                  aria-label=".form-select-lg">
            <option disabled selected>Select a game...</option>
            <option v-for="game in games" :value="game.id">{{ game.name }}</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="opponent" class="form-label">against</label>
          <select id="opponent" :disabled="!selectedGameId" v-model="selectedOpponent"
                  class="form-select form-select-lg mb-3"
                  aria-label=".form-select-lg">
            <option disabled selected>Select an opponent...</option>
            <option value="human">Other user</option>
            <option value="computer" :disabled="disableComputerPlayer">Computer (AI)</option>
          </select>
        </div>
      </div>
      <button class="btn btn-lg btn-primary" @click="createSession" :disabled="!canCreateGameSession">Create</button>
    </div>
  </div>
</template>
<script lang="ts">
import {defineComponent} from 'vue'
import type {Game} from "@/services/GameService";
import {getAllGames} from "@/services/GameService";
import {useGameStore} from "@/stores/game";
import {mapState} from "pinia";
import '../globalProperties'

export default defineComponent({
  mounted() {
    this.loadAllGames()
  },
  data() {
    return {
      selectedGameId: null as string | null,
      selectedOpponent: null as string | null,
      disableComputerPlayer: true,
      games: [] as Game[],
    }
  },
  computed: {
    canCreateGameSession(): boolean {
      return this.selectedGameId !== null && this.selectedOpponent !== null
    },
    ...mapState(useGameStore, ['gameService'])
  },
  watch: {
    selectedGameId: {
      immediate: true,
      handler() {
        const selectedGame = this.games.find(g => g.id === this.selectedGameId)
        if (selectedGame !== undefined) {
          this.disableComputerPlayer = !selectedGame.allowComputerPlayers
        } else {
          this.disableComputerPlayer = true
        }
      }
    }
  },
  methods: {
    async loadAllGames() {
      this.games = await getAllGames()
    },
    async createSession() {
      if (this.selectedGameId !== null && this.selectedOpponent !== null) {
        await this.gameService?.createGameSession(this.selectedGameId, this.selectedOpponent)
            .catch(e => this.showError(e.message))
        this.toast?.show({title: 'Info', body: 'Game created. Refresh game lists (manually so far).' }, {variant: 'info'})
      } else {
        throw new Error("Invalid state. Game and opponent must be set.")
      }
    },
    showError(error: string) {
      this.toast?.show({title: 'Error', body: error }, {variant: 'danger'})
    }
  }
});
</script>
