<script setup lang="ts">
import {mapActions, mapState} from "pinia";
import {useAuthStore} from "@/stores/auth";
</script>
<template>
  <div class="card login-form">
    <div class="card-header">
      Login
    </div>
    <form @submit="doLogin">
      <div class="card-body">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" v-model="username" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" v-model="password" required>
        </div>
        <div v-if="loginError" class="alert alert-danger" role="alert">
          Invalid username or password ({{ loginError }})
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </form>
  </div>
</template>

<script lang="ts">
import {defineComponent} from 'vue'

export default defineComponent({
  data() {
    return {
      username: '',
      password: '',
      loginError: null as string | null
    }
  },
  computed: {
    ...mapState(useAuthStore, ['authenticated'])
  },
  methods: {
    ...mapActions(useAuthStore, ['authenticate']),
    async doLogin(e: Event) {
      e.preventDefault();
      this.loginError = await this.authenticate(this.username, this.password)
      if (this.authenticated) {
        this.$router.push("/")
      }
    }
  }
})
</script>
<style>
.login-form {
  width: 30rem;
}

</style>
