<template>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">My Games</h5>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Game</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="ref in games">
            <td>{{ ref.game }}</td>
            <td>{{ ref.status }}</td>
            <td>
              <router-link class="btn btn-secondary btn-sm"
                           :to="{ name: 'join-game', params: { sessionId: ref.id}}">JOIN</router-link>
            </td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-secondary btn-sm" @click="refresh">Refresh</button>
    </div>
  </div>
</template>
<script lang="ts">
import {defineComponent} from 'vue'
import type {GameReference} from "@/dto";
import {mapState} from "pinia";
import {useAuthStore} from "@/stores/auth";

export default defineComponent({
  mounted() {
    this.refresh()
  },
  data() {
    return {
      selectedGameId: null,
      selectedOpponent: null,
      disableComputerPlayer: true,
      games: [] as GameReference[],
    }
  },
  sockets: {
    connect: function () {
      this.refresh()
    },
    sessions: function (games: GameReference[]) {
      this.games = games
    }
  },
  computed: {
    ...mapState(useAuthStore, ['username'])
  },
  methods: {
    async refresh() {
      this.$socket.emit('sessions', this.username)
    }
  }
})
</script>
