<script setup lang="ts">
import {mapActions, mapState} from "pinia";
import {useAuthStore} from "@/stores/auth";
</script>
<template>
  <div class="card login-form">
    <div class="card-header">
      Create your account
    </div>
    <div class="card-body" v-if="signUpSuccessful">
      Account created. Please
      <router-link to="login">log in</router-link>
      .
    </div>
    <form @submit="doSignup" v-if="!signUpSuccessful">
      <div class="card-body">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" v-model="username" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" v-model="password" required>
        </div>
        <div v-if="error" class="alert alert-danger" role="alert">
          Unable to create account ({{ error }})
        </div>
        <button type="submit" class="btn btn-primary">Sign up</button>
      </div>
    </form>
  </div>
</template>

<script lang="ts">
import {defineComponent} from 'vue'
import {signUp} from '@/services/UserService'

export default defineComponent({
  data() {
    return {
      username: '',
      password: '',
      error: null as string | null,
      signUpSuccessful: false
    }
  },
  methods: {
    async doSignup(e: Event) {
      e.preventDefault();
      signUp(this.username, this.password)
          .then(() => this.signUpSuccessful = true)
          .catch(e => this.error = e.response.data.message.join(","))
    }
  }
})
</script>
<style>
.login-form {
  width: 30rem;
}

</style>
