<script setup lang="ts">
import {RouterLink, RouterView} from "vue-router";
import {BContainer} from "bootstrap-vue-3";</script>
<template>
  <body>
  <div>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <router-link class="navbar-brand" to="/">POC Games</router-link>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <RouterLink v-if="authenticated" class="nav-link" to="/logout" aria-current="page">
                Logout
              </RouterLink>
              <RouterLink v-else class="nav-link" to="/login" aria-current="page">
                Login
              </RouterLink>
            </li>
            <li class="nav-item">
              <RouterLink v-if="!authenticated" class="nav-link" to="/signup" aria-current="page">
                Sign Up
              </RouterLink>
            </li>
          </ul>
          <span v-if="authenticated" class="navbar-text">
            {{ username }}
          </span>
        </div>
      </div>
    </nav>
  </div>
  <div class="container main-container">
    <RouterView/>
  </div>
  <b-container :toast="{root: true}" fluid="sm" position="position-fixed"></b-container>
  </body>
</template>
<script lang="ts">
import {mapState} from "pinia";
import {useAuthStore} from "@/stores/auth";

export default {
  data() {
    return {}
  },
  computed: {
    ...mapState(useAuthStore, ['authenticated', 'username'])
  },
  methods: {}
}
</script>
<style>
.main-container {
  padding-top: 20px;
}
</style>
