<script setup lang="ts">
import {useAuthStore} from "@/stores/auth";
</script>
<template>
  <div v-if="session">
    <dl class="row">
      <dt class="col-sm-3">Game status</dt>
      <dd class="col-sm-9">{{ session?.status }}</dd>
      <dt class="col-sm-3">Players</dt>
      <dd class="col-sm-9">
        <div v-for="player in session?.players">{{ player.name }}</div>
      </dd>
      <dt class="col-sm-3">Created</dt>
      <dd class="col-sm-9">{{ session?.createdAt }}</dd>
    </dl>
  </div>
  <div v-if="state">
    <dl class="row">
      <dt class="col-sm-3">Board</dt>
      <dd class="col-sm-9">{{ state?.board }}</dd>
      <dt class="col-sm-3">Next turn</dt>
      <dd class="col-sm-9">{{ state?.playerToMove?.name }}</dd>
    </dl>
  </div>
</template>
<script lang="ts">

import {mapState} from "pinia";

type GameSessionShape = {
  id: string
  status: string
  createdAt: string
  players: {
    name: string
  }[]
}

export default {
  props: {
    sessionId: String
  },
  data() {
    return {
      session: null as GameSessionShape | null,
      state: null as any
    }
  },
  mounted() {
    this.joinSession()
  },
  sockets: {
    gameSession: function (session: GameSessionShape) {
      this.session = session
    },
    gameState: function (state:any) {
      this.state = state
    }
  },
  computed: {
    ...mapState(useAuthStore, ['username'])
  },
  methods: {
    joinSession() {
      this.$socket.emit('joinSession', {
        sessionId: this.sessionId,
        username: this.username
      })
    }
  }
}
</script>
<style>
</style>
