<script setup lang="ts">
import CreateGame from "@/components/CreateGame.vue";
import WaitingLounge from "@/components/WaitingLounge.vue";
import MyGames from "@/components/MyGames.vue";
</script>
<template>
  <div class="row" v-if="authenticated">
    <div class="col">
      <CreateGame/>
    </div>
    <div class="col">
      <WaitingLounge />
      <MyGames />
    </div>
  </div>
  <div v-else>
    <ol>
      <li>Sign up to create user account</li>
      <li>Login and create or join a game session</li>
    </ol>
  </div>
</template>
<script lang="ts">
import {mapState} from "pinia";
import {useAuthStore} from "@/stores/auth";

export default {
  computed: {
    ...mapState(useAuthStore, ['authenticated'])
  }
}
</script>
