<script setup lang="ts">
import {mapActions} from "pinia/dist/pinia";
import {useAuthStore} from "@/stores/auth";
</script>
<template>
  You have been successfully logged out...
</template>
<script lang="ts">

export default {
  mounted() {
    this.logout()
  },
  methods: {
    ...mapActions(useAuthStore, ['logout']),
  }
}
</script>
<style>
</style>
